body{
    margin: 0px;
    height: 100%;
    line-height: 1.34;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    background-color: #f0f2f5;

    gap: 200px;

    padding-top: 72px;
    padding-bottom: 112px;
}

input{
    font-size: 16px;
}
